body {background-color: darkblue;
}
@media screen and (max-width: 770px) {
    
        .part1 {color: red;
          font-size: 150%;
    
        }
        .part3 {color: darkorange;
            font-size: 150%;
        }
        .part2 {color: blueviolet;
          font-size: 150%;}
          
     }
       .part1 {border-color: orangered;
      
       border-style: double;
       border-width: 6px;
     }

     .part1 { margin-right: 30%;
    }

    .part2  {border-color: chartreuse;
    
     border-style: double;
     border-width: 6px;
    }
    .part2 {margin-right: 20%;
    }

    .part3 {border-color: magenta;
    
     border-style: double;
     border-width: 6px;
    }

    .part3 {margin-right: 40%;}
       
    body{ text-align: center;}